<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="false"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">

        <receiver
            android:name=".biz1.MyReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.test.BROADCAST" />
            </intent-filter>
        </receiver>

        <service
            android:name=".biz1.MyForegroundService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".biz1.MyBackgroundService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".biz1.TestActivity"
            android:exported="false" />
        <activity android:name=".biz1.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>